<div id="edit-combatant-<%= combatant.id %>" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Combatant</h4>
      </div>

      <%= form_for combatant do |c| %>
        <div class="modal-body">
          <h3>Combatant Info</h3>

          <div class="row">
            <div class="form-group col-xs-10">
              <%= c.label :name %>
              <%= c.text_field :name, class: "form-control" %>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-xs-2">
              <%= c.label :init %>
              <%= c.text_field :init, { type: "number", class: "form-control" } %>
            </div>

            <div class="form-group col-xs-2">
              <%= c.label :max_hp, "Max HP" %>
              <%= c.text_field :max_hp, { type: "number", class: "form-control" } %>
            </div>

            <div class="form-group col-xs-2">
              <%= c.label :hp, "HP" %>
              <%= c.text_field :hp, { type: "number", class: "form-control" } %>
            </div>

            <div class="form-group col-xs-2">
              <%= c.label :ac, "AC" %>
              <%= c.text_field :ac, { type: "number", class: "form-control" } %>
            </div>

            <div class="form-group col-xs-2">
              <%= c.label :dc, "Spell DC" %>
              <%= c.text_field :dc, { type: "number", class: "form-control" } %>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <%= c.submit "Save", class: "btn btn-primary" %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      <% end %>
    </div>
  </div>
</div>


