<% content_for :title, "Combat Tracker" %>

<% content_for :content do %>
  <%= form_for @character do |f| %>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <td>Name</td>
          <td>Init</td>
          <td>HP(max)</td>
          <td>HP</td>
          <td>AC</td>
          <td>DC(spell)</td>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="col-xs-4"><%= f.text_field :name, { type: "text", class: "form-control" } %></td>
          <td><%= f.text_field :init, { type: "number", class: "form-control" } %></td>
          <td><%= f.text_field :max_hp, { type: "number", class: "form-control" } %></td>
          <td><%= f.text_field :hp, { type: "number", class: "form-control" } %></td>
          <td><%= f.text_field :ac, { type: "number", class: "form-control" } %></td>
          <td><%= f.text_field :dc, { type: "number", class: "form-control" } %></td>
          <td class="col-xs-2">
            <%= button_tag type: "submit", class: "btn btn-default" do %>
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>

  <% if @characters.present? %>
    <table class="table table-hover table-striped data-table">
      <tbody>
        <% @characters.each_with_index do |char, i| %>
          <%= form_for char do |f| %>
            <tr>
              <td class="col-xs-4"><%= f.text_field :name, class: "form-control" %></td>
              <td><%= f.text_field :init, class: "form-control" %></td>
              <td><%= f.text_field :max_hp, class: "form-control" %></td>
              <td><%= f.text_field :hp, class: "form-control" %></td>
              <td><%= f.text_field :ac, class: "form-control" %></td>
              <td><%= f.text_field :dc, class: "form-control" %></td>
              <td class="col-xs-2">
                <div class="btn-group" role="group" aria-label="...">
                  <%= link_to character_path(char), method: :update, type: :button, class: "btn btn-primary", authenticity_token: true do %>
                    Update
                  <% end %>
                  <%= link_to character_path(char), method: :delete, type: :button, class: "btn btn-danger", authenticity_token: true do %>
                    <span class="glyphicon glyphicon-trash"></span>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
