<% content_for :title, "Creatures" %>

<% content_for :content do %>
  <% if @creatures.present? %>
    <div class="row">
      <div class="col-xs-12">
        <div class="table-responsive">
          <table class="table table-hover table-striped data-table sort-asc">
            <thead>
              <tr>
                <td>Name</td>
                <td>Species</td>
                <td>Size</td>
                <td>Book</td>
                <td>Page</td>
              </tr>
            </thead>

            <tbody>
              <% @creatures.each do |creature| %>
                <tr id="<%= creature.id %>" class="creature-row" data-toggle="modal" data-target="#creature-info-modal-<%= creature.id %>">
                  <td><%= creature.name %></td>
                  <td><%= creature.species %></td>
                  <td><%= creature.size %></td>
                  <td><%= creature.book %></td>
                  <td><%= creature.page %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <% @creatures.each do |creature| %>
      <%= render partial: "creatures/creature_info_modal", locals: { creature: creature } %>
    <% end %>
  <% else %>
    <div>
      There are currently no creatures in the system.
    </div>
  <% end %>
<% end %>
