<div id="spell-info-modal-<%= spell.id %>" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Spell Info</h4>
      </div>

      <div class="modal-body">
        <h3><%= spell.name %></h3>

        <% if spell.klass.present? %>
          <table class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th>Class</th>
                <th>Sub Class</th>
              </tr>
            </thead>
            <tbody>
              <% spell.klass.sort.each_with_index do |klass, i| %>
                <tr>
                  <td><%= klass %></td>
                  <td><%= spell.sub_klass[i] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>

        <div class="well">
          <div><label>Casting Time:</label> <%= spell.casting_time %></div>
          <div><label>Range:</label> <%= spell.range %></div>
          <div><label>Components:</label> <%= spell.components %></div>
          <div><label>Duration:</label> <%= spell.duration %></div>
          <div><label>Description:</label> <%= spell.description %></div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
