<div id="spell-info-modal-<%= spell.id %>" class="modal fade spell-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="gold"></div>

        <div class="body m-2">
          <div class="name">
            <div class="d-flex justify-content-between">
              <h1><%= spell.name.gsub('(ritual)', '') %></h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="align-top" aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>

          <div class="d-flex justify-content-between">
            <div class="small">
              <em><%= spell.sub_klass[0] if spell.klass.present? %></em>
            </div>

            <% if spell.name.include? "(ritual)" %>
              <div class="small"><em>(ritual)</em></div>
            <% end %>
          </div>

          <div class="taper"></div>

          <div class="list small">
            <% if spell.klass.present? %>
              <span>Castable by:</span> <%= spell.klass.sort.to_sentence %><br/>
            <% end %>
            <span>Casting Time:</span> <%= spell.casting_time %><br/>
            <span>Range:</span> <%= spell.range %><br/>
            <span>Components:</span> <%= spell.components %><br/>
            <span>Duration:</span> <%= spell.duration %><br/>
          </div>

          <div class="taper"></div>

          <div class="small">
            <%= sanitize spell.description, tags: %w(br strong em) %>
          </div>
        </div>

        <div class="gold"></div>
      </div>
    </div>
  </div>
</div>
