<div id="spell-info-modal-<%= spell.id %>" class="modal fade spell-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h3 class="modal-title">
          <%= spell.name %> <small><%= spell.sub_klass[0] if spell.klass.present? %></small>
        </h3>
      </div>

      <div class="modal-body">
        <div>
          <% if spell.klass.present? %>
            <div>
              <label>Castable by:</label>
              <%= spell.klass.sort.to_sentence %>
            </div>
          <% end %>

          <div>
            <label>Casting Time:</label> <%= spell.casting_time %>
          </div>

          <div>
            <label>Range:</label> <%= spell.range %>
          </div>

          <div>
            <label>Components:</label> <%= spell.components %>
          </div>

          <div>
            <label>Duration:</label> <%= spell.duration %>
          </div>

          <div>
            <%= sanitize spell.description, tags: %w(br strong em) %>
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
