<% content_for :title, spells_page_title(params) %>

<% content_for :content do %>
  <div class="row pt-2">
    <div class="col-md-6">
      <h3><%= spells_page_title(params) %> <small>(<%= @spells.count.to_s %>)</small></h3>
    </div>

    <div class="col-md-6">
      <%= form_tag spells_path, method: :get, id: "search-form", class: "form-inline float-md-right" do %>
        <%= hidden_field_tag :klass, params[:klass] %>

        <%= text_field_tag :search, params[:name], name: :name, placeholder: "Search spell name...", class: "form-control mb-2 mr-sm-2" %>

        <%#= submit_tag "Search", name: nil, class: "btn btn-primary mb-2 spell-search" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @spells.each do |spell| %>
      <div id="<%= spell.name %>" class="col-lg-4 col-md-6 col-12 mb-2">
        <button id="<%= spell.id %>" class="btn btn-spell btn-block" type="buton" data-toggle="modal" data-target="#spell-info-modal-<%= spell.id %>">
          <%= spell.name %>
        </button>
      </div>
    <% end %>
  </div>

    <%# Construct modal for every spell  %>
    <% @spells.each do |spell| %>
      <%= render partial: "spell_info_modal", locals: { spell: spell } %>
    <% end %>
<% end %>

