<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <%= link_to 'TekkedOut D&D', root_path, :class => 'navbar-brand' %>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <%= tab("Combat Tracker", combat_trackers_path, active == "combat_tracker") %>
          <%= tab("Creatures", creatures_path, active == "creatures") %>

          <li class="dropdown <%= "active" if active == "races" %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
               role="button" aria-haspopup="true" aria-expanded="false">
              Races <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
              <li><%= link_to "All Races", races_path %></li>
              <li><%= link_to "Dragonborn", races_path(race: "Dragonborn") %></li>
              <li><%= link_to "Dwarf", races_path(race: "Dwarf") %></li>
              <li><%= link_to "Elf", races_path(race: "Elf") %></li>
              <li><%= link_to "Gnome", races_path(race: "Gnome") %></li>
              <li><%= link_to "Half-Elf", races_path(race: "Half-Elf") %></li>
              <li><%= link_to "Half-Orc", races_path(race: "Half-Orc") %></li>
              <li><%= link_to "Halfling", races_path(race: "Halfling") %></li>
              <li><%= link_to "Human", races_path(race: "Human") %></li>
              <li><%= link_to "Tiefling", races_path(race: "Tiefling") %></li>
            </ul>
          </li>

          <li class="dropdown <%= "active" if active == 'spells' %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
               role="button" aria-haspopup="true" aria-expanded="false">
              Spells <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
              <li><%= link_to "All Spells", spells_path %></li>
              <li><%= link_to "Bard", spells_path(klass: "Bard") %></li>
              <li><%= link_to "Cleric", spells_path(klass: "Cleric") %></li>
              <li><%= link_to "Druid", spells_path(klass: "Druid") %></li>
              <li><%= link_to "Paladin", spells_path(klass: "Paladin") %></li>
              <li><%= link_to "Ranger", spells_path(klass: "Ranger") %></li>
              <li><%= link_to "Sorcerer", spells_path(klass: "Sorcerer") %></li>
              <li><%= link_to "Warlock", spells_path(klass: "Warlock") %></li>
              <li><%= link_to "Wizard", spells_path(klass: "Wizard") %></li>
            </ul>
          </li>
        </ul>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to('My Account', edit_user_registration_path) %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to('Sign in', new_user_session_path) %></li>
          <li><%= link_to('Sign up', new_user_registration_path) %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
